main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
}

main h1 {
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.aboutusOptions {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.aboutusOption {
  cursor: pointer;
  position: relative;
}

.aboutusOption::before,
.aboutusOption.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary);
  transition: 0.3s;
}

.aboutusOption:hover {
  transform: translateY(-3px);
}

.aboutusOption:hover::before {
  width: 100%;
}

.aboutusOption.active::before {
  width: 100%;
}

.aboutusTopic {
  background-color: var(--main);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.aboutusTopic p {
  font-weight: normal;
  color: var(--white);
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
}

.aboutusTopic:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#AboutusContainer {
  width: 90%;
}

#aboutusTopic1 {
  display: block;
}

#aboutusTopic2 {
  display: none;
}

#aboutusTopic3 {
  display: none;
}

@media (max-width: 400px) {
  main h1 {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  main h1 {
    font-size: 16px;
  }

  .aboutusTopic p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
  }

  .aboutusOptions {
    width: 100%;
  }

  #AboutusContainer {
    width: 100%;
  }

  .aboutusOption::before,
  .aboutusOption.active::before {
    height: 2px;
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  main h1 {
    font-size: 19px;
  }

  .aboutusTopic p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}
