main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  width: 60vw;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

main h1 {
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

main h2 {
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.socials a {
  width: 35%;
  display: block;
}

.socials a button {
  width: 100%;
  color: var(--white);
  font-weight: bold;
  border: 0;
  outline: 0;
  background-color: var(--secondary);
  font-size: 20px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials button:hover {
  transform: translateY(-3px);
  background-color: var(--secondaryHover);
}

.socials a button img {
  width: 10%;
  filter: invert(1);
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
}

.formItem label {
  font-weight: bold;
  color: var(--primary);
  font-size: 25px;
  margin-bottom: 5px;
}

.formItem input {
  border: 0;
  outline: 0;
  margin: 0;
  width: 100%;
  padding: 10px 15px;
  border-radius: 9999px;
  font-size: 16px;
  color: var(--primary);
}

#formBtn {
  margin-top: 20px;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  border: 0;
  outline: 0;
  background-color: var(--secondary);
  font-size: 28px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 15px;
}

#formBtn:hover {
  transform: translateY(-3px);
  background-color: var(--secondaryHover);
}

@media (max-width: 650px) {
  main h1 {
    font-size: 20px;
  }

  form .title {
    font-size: 25px;
  }

  .formItem {
    margin-bottom: 20px;
  }

  .formItem label {
    font-size: 17px;
  }

  #formBtn {
    margin-top: 10px;
    font-size: 15px;
    padding: 6px 10px;
  }

  .loginForm {
    width: 100%;
  }

  .formItem input {
    padding: 6px 10px;
    font-size: 12px;
  }

  .socials {
    flex-direction: column;
    gap: 10px;
  }

  .socials a {
    width: 60%;
  }

  .socials a button {
    font-size: 15px;
    padding: 8px 10px;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  form .title {
    font-size: 25px;
  }

  .formItem {
    margin-bottom: 20px;
  }

  .formItem label {
    font-size: 17px;
  }

  #formBtn {
    margin-top: 10px;
    font-size: 20px;
    padding: 8px 12px;
  }

  .loginForm {
    width: 100%;
  }

  .formItem input {
    padding: 8px 12px;
    font-size: 14px;
  }

  .socials a button {
    font-size: 12px;
    padding: 6px 8px;
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  .formItem input {
    padding: 10px 15px;
    font-size: 16px;
  }
  .socials a button {
    font-size: 15px;
    padding: 8px 10px;
  }
}
