:root {
  --main: #323743;
  --mainHover: #323743cc;
  --primary: #4789fd;
  --secondary: #91e157;
  --secondaryHover: #91e157cc;
  --black: #000000;
  --white: #ffffff;
  --gray: #d9d9d9;
  --bodyBackground: #d5d5d5;
}

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

font {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("media/images/background.png");
  background-repeat: repeat-y;
  background-size: cover;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* End Global Rules */
/* Start Navbar */
nav {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  position: relative;
  transition: 0.3s;
  width: calc(83% / 7);
  text-align: center;
  background-color: var(--main);
  height: 75px;
  display: flex;
}

.navText {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.navText:hover {
  transform: translateY(-3px);
  background-color: var(--mainHover);
}

.navItem a {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navItem.active {
  background-color: var(--primary);
}

.langaugeIcons {
  width: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.langaugeIcons > .english,
.langaugeIcons > .french,
.langaugeIcons > .arabic {
  cursor: pointer;
  width: 20%;
}

.langaugeIcons > .english img,
.langaugeIcons > .french img,
.langaugeIcons > .arabic img {
  width: 50%;
}

.langaugeIcons > .english:hover,
.langaugeIcons > .french:hover,
.langaugeIcons > .arabic:hover {
  transform: translateY(-3px);
}

.login {
  color: var(--white);
  font-weight: bold;
  border: 0;
  margin: 0;
  outline: 0;
  background-color: var(--secondary);
  width: 50%;
  font-size: 20px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 5px 10px;
}

.login:hover {
  transform: translateY(-3px);
  background-color: var(--secondaryHover);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  padding: 5px;
  height: 50%;
  width: 100%;
}

.searchInput {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 80%;
  font-size: 15px;
}

.searchIcon {
  width: 20%;
}

.searchIcon img {
  width: 100%;
  height: 100%;
}

.skiptranslate {
  display: none;
}

.comingSoon {
  background-color: var(--secondary);
  padding: 4px;
  border-radius: 9999px;
  animation: blink 10s linear infinite;
  transition: 0.3s;
  margin: 7px auto 0 auto;
  width: fit-content;
}

@keyframes blink {
  0% {
    background-color: var(--secondary);
  }
  25% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--primary);
  }
  75% {
    background-color: var(--black);
  }
  100% {
    background-color: var(--secondary);
  }
}

.comingSoon p {
  color: var(--white);
  text-align: center;
  font-size: 12px;
}

/* End Navbar */

@media (max-width: 650px) {
  nav {
    justify-content: flex-start;
  }

  .navItem {
    width: calc(80% / 7);
    padding: 10px;
    height: 35px;
  }

  .langaugeIcons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navItem a {
    font-size: 6px;
  }

  .login {
    font-size: 8px;
  }

  .langaugeIcons > .english img,
  .langaugeIcons > .french img,
  .langaugeIcons > .arabic img {
    width: 70%;
  }

  .searchbar {
    padding: 5px;
    height: 100%;
  }

  .searchInput {
    font-size: 7px;
  }

  .searchIcon {
    width: 30%;
  }

  .comingSoon p {
    font-size: 3.5px;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .navItem {
    width: calc(80% / 7);
  }

  .langaugeIcons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navItem a {
    font-size: 13px;
  }

  .login {
    font-size: 14px;
  }

  .langaugeIcons > .english img,
  .langaugeIcons > .french img,
  .langaugeIcons > .arabic img {
    width: 70%;
  }

  .searchbar {
    padding: 5px;
  }

  .searchInput {
    font-size: 10px;
  }

  .searchIcon {
    width: 30%;
  }

  .comingSoon p {
    font-size: 6px;
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  nav {
    margin-top: 4px;
  }

  .navItem {
    width: calc(80% / 7);
  }

  .langaugeIcons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navItem a {
    font-size: 16px;
  }

  .login {
    font-size: 16px;
  }

  .langaugeIcons > .english img,
  .langaugeIcons > .french img,
  .langaugeIcons > .arabic img {
    width: 80%;
  }

  .searchbar {
    padding: 5px;
  }

  .searchInput {
    font-size: 12px;
  }

  .searchIcon {
    width: 20%;
  }

  .comingSoon p {
    font-size: 9px;
  }
}
