main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  width: 80%;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
}

main h1 {
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

ul {
  font-weight: bold;
  color: var(--primary);
  font-size: 20px;
}

.travelKitItem {
  margin-bottom: 10px;
}

.travelKitItem p {
  font-weight: normal;
  color: var(--white);
  font-size: 18px;
}

.travelKitItem p span {
  font-weight: bold;
  color: var(--primary);
}

.btn {
  display: block;
  color: var(--white);
  font-weight: bold;
  border: 0;
  margin: 25px 0;
  outline: 0;
  background-color: var(--secondary);
  width: fit-content;
  font-size: 20px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 20px;
}

.btn a {
  color: var(--white) !important;
  text-decoration: none !important;
  font-weight: bold !important;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--secondaryHover);
}

.arrival {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrival .btn {
  margin-bottom: 40px;
}

@media (max-width: 650px) {
  main h1 {
    font-size: 20px;
  }

  ul {
    font-size: 15px;
  }

  .travelKitItem p {
    font-size: 13px;
  }

  .btn {
    font-size: 15px;
  }
}
