main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
}

main h1 {
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.usefulAppsItem {
  background-color: var(--main);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.usefulAppsItem:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.usefulAppsItem li {
  font-weight: normal;
  color: var(--white);
  font-size: 18px;
  margin-bottom: 10px;
}

.usefulAppsItem span {
  font-weight: bold;
  font-size: 22px;
  color: var(--primary);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.btn {
  display: block;
  color: var(--white);
  font-weight: bold;
  border: 0;
  margin: 10px 0 10px 0;
  outline: 0;
  background-color: var(--secondary);
  width: fit-content;
  font-size: 20px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 20px;
}

.btn a {
  color: var(--white) !important;
  text-decoration: none !important;
  font-weight: bold !important;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--secondaryHover);
}

.arrival {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 650px) {
  main h1 {
    font-size: 20px;
  }

  .usefulAppsItem span {
    font-size: 15px;
  }

  .usefulAppsItem li {
    font-size: 13px;
  }

  .btn {
    font-size: 15px;
  }
}
